@{
    ViewData["Title"] = "Welcome to MyWebsite";
    ViewData["Page"] = "Landing";
}

<main class="min-h-screen flex flex-col justify-center items-center text-center px-4">
    <div class="max-w-4xl w-full border-4 border-white p-12" style="background-color: rgba(0, 0, 0, 0.2)">
        <section class="text-center mt-16">
                <h1 class="text-8xl font-bold text-white text-shadow-custom">Beverly Woods</h1>

                <div class="mt-4 flex items-center justify-center">
                    <div class="line flex-grow h-px bg-white"></div>
                    <h2 class="text-3xl font-light text-white px-4">Our Community</h2>
                    <div class="line flex-grow h-px bg-white"></div>
                </div><br>
                    <p class="text-white font-medium max-w-xl mx-auto mt-2">
                        Our Community is rapidly growing an items-center response our Association is expanding
                        our communication with our newly designed website.an Our website is being design to
                        enable our residents and members to keep an breast of current happenings and important 
                        information easily from your devices,an no matter where your are.
                    </p>
        </section>
    </div>    
</main>